.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar_menu {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
  li {
    cursor: pointer;
  }
}

.navbar_rigth {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar_searchIcon {
  position: relative;
}
.navbar .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar_profile {
  position: relative;
}

.nav_profile_down {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar_profile:hover .nav_profile_down {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff2f2;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav_profile_down li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav_profile_down li:hover {
  color: tomato;
}
.nav_profile_down img {
  width: 20px;
}
