.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.navbar .logo {
  width: max(10%, 80px);
}
.navbar .profile {
  width: 40px;
}

