.list_table_format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 12px 15px;
  gap: 10px;
  border: 1px solid #cacaca;
  font-size: 13px;
}
.list_table_format.title {
  background-color: #f9f9f9;
}

.list_table_format img {
  width: 80px;
}
